.DS_Store
.idea/
venv/
tecnicas-processamento-big-data/aula-01/microdados_enem_2019_alunos_SP.csv
tecnicas-processamento-big-data/aula-01/microdados_enade_2019.txt
.ipynb_checkpoints/
*.zip
*__pycache__*
